@media screen and (max-width: 900px){
    
    header{
        flex-direction: row;
    }

    main{
        flex-direction: column;
    }

    h1{
        font-size: 30px;
        margin: 5px;
    }

    li{
        font-size: 20px;
        line-height: 10px;
        display: flex;
        justify-content:center ;
        flex-direction: column;
        align-items: flex-end;
    }

    h2{
        font-size: 38px;
    }

    img{
        margin-top: 10px;
        width: 300px;
    }
}