body {
    background-color: rgb(34, 34,34);
    color: #fff;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto; /*fica no meio (a tela)*/
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: poppinsmedium;    
}

#title {
    flex-direction: column;
    line-height: 13px;
    border-left: 2.5px solid #E04026;
    border-bottom: 2.5px solid #E04026;
    border-radius: 10px;
    padding-left:10px;
}

li{
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

h1{
    font-weight: 200;
    font-size: 35px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #E04026;
}

p {
    font-size: 30px;
    line-height: 40px;
    max-width: 500px;
    font-family: poppinslight;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #E04026;
    transition: 0.4s all;
}

#btn-insta{
    margin-top: 25px;
    background: none;
    border: none;
    border: 1px solid #E04026;
    color: #fff;
    font-family: poppinsbold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
}

img {
    margin-top: -40px;
    margin-left: 30px;
}